    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">

        <% if @product_category %>
        <a class="navbar-brand" href="/">Test App</a> -> 
        <%= link_to @product_category.name, '#' %>
        <% else %>
        <a class="navbar-brand" href="/">Test App</a>
        <% end %>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Главная
                
              </a>
            </li>
        
            <li class="nav-item">
              <a class="nav-link" href="#">test link</a>
            </li>
            
          </ul>
        </div>
      </div>
    </nav>